{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Bestiário</title>
    </head>
    <body>
        <div class="page-header">
        <nav class="navbar">
                  <div class="navbar">
                    <h1><a href="/">BESTIÁRIO</h1>
                  </div>
                  <ul class="navlist">
                    <li class="li-nav"><a href="#">Home</a></li>
                    <li class="li-nav"><a href="#">About</a></li>
                    <li class="li-nav"><a href="#">Contact</a></li>
                  </ul>
                </div>
              </nav>
            {% if user.is_authenticated %}
            <div class='btm'>
              <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
              {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="bottom-margin">
          <p> Blog criado por Filão</p>
          <p> Para mais informações visite a aba About</p>
          <p> Todos os direitos reservados, 2020</p> 
        </div>
    </body>
</html>
